@{
    ViewData["Title"] = "Empleados";
}

@section styles
{
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
}

<h1>@ViewData["Title"]</h1><br />
<link rel="stylesheet" href="~/css/datatable.css" />

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
            <a asp-controller="Empleado" asp-action="Create" class="btn btn-success">Agregar</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12-md">
            <table class="table table-bordered" id="Table">
                <thead>
                    <tr>
                        <th style="text-align: center;">Nombre</th>
                        <th style="text-align: center;">Apellido</th>
                        <th style="text-align: center;">Teléfono</th>
                        <th style="text-align: center;">Dui</th>
                        <th style="text-align: center;">Tipo de Empleado</th>
                        <th style="text-align: center;">Estado</th>
                        <th style="text-align: center;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Empleado in ViewBag.Empleados)
                    {
                        <tr>
                            <td style="text-align: center; white-space: nowrap; padding: 10px;">@Empleado.Nombre</td>
                            <td style="text-align: center; white-space: nowrap; padding: 10px;">@Empleado.Apellido</td>
                            <td style="text-align: center; white-space: nowrap; padding: 10px;">@Empleado.NumeroTelefonico</td>
                            <td style="text-align: center; white-space: nowrap; padding: 10px;">@Empleado.Dui</td>
                            <td style="text-align: center; white-space: nowrap; padding: 10px;">@Empleado.TipoEmpleado.Nombre</td>
                            <td style="text-align: center; white-space: nowrap; padding: 10px;">
                                @if(@Empleado.EsActivo == 1)
                                {
                                    <text>Activo</text>
                                }
                                else
                                {
                                    <text>Inactivo</text>
                                }
                            </td>
                            <td style="text-align: center;">
                                <div style="display: flex; justify-content: center; gap: 10px;">
                                    <a asp-controller="Empleado" asp-action="Edit" asp-route-id="@Empleado.Id" class="btn btn-warning">Editar</a>
                                    <a asp-controller="Empleado" asp-action="Delete" asp-route-id="@Empleado.Id" class="btn btn-danger">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts 
{
    <script src="~/lib/datatables.net/datatables.js"></script>
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
    <script>let table = new DataTable('#Table');</script>
}
