@{
    ViewData["Title"] = "Empleados";
}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/datatable.css" />

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
            <button id="agregarEmpleado" class="btn btn-primary"> Agregar </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12-md">
            <table class="table table-bordered" id="empleado-table" style="text-align:center">
                <thead>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Teléfono</td>
                    <td>Acciones</td>
                </thead>
                <tbody>
                    @foreach (var Empleado in ViewBag.Empleados)
                    {
                        <tr>
                            <td>@Empleado.Nombre</td>
                            <td>@Empleado.Apellido</td>
                            <td>@Empleado.NumeroTelefonico</td>
                            <td>
                                <button id="delete" class="btn btn-danger" >Eliminar</button>
                                <button id="edit" class="btn btn-warning">Editar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).on('click', "#agregarEmpleado", function () {

            ajaxRequest(data, "POST", "@Url.Action("Keep", "Empleado")").done(function (response) {
                alert("success")
            });
        });
    </script>
}
